/*Google fonts integrate*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* global css */

*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand', sans-serif;
}
a,span,p,input{
	font-family: 'Roboto', sans-serif;
}

/* header part css */
.header{
	width: 100%;
	background: #fff;
	padding: 20px;
	line-height: 20px;
}
.header span{
	font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
}
.banner{
	width: 100%;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.row{
	width: 100%;
	float: left;
	margin: 0 15px;
}
.col-6{
	width: 50%;
	float: left;
}
.col-1{
	width: 15%;
	float: left;
}
.col-11{
	width: 85%;
	float: right;
}
.banner-left{
    padding: 34px;
}
.banner .left h1{
	font-size: 44px;
    margin-bottom: 16px;
}
.banner .left p{
	font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #4c527d;
}
.banner button{
	padding: 20px 50px;
    border-radius: 32px;
    outline: none;
    /*border: none;*/
    border: 3px solid #ed6524;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.banner .left-button{
	background: #ed6524;
	font-size: 18px;
    color: white;
}
.banner .right-button{
	background: #fff;
	font-size: 18px;
	color: #ed6524;
	transition: 0.5s ease-in-out;
}
.banner .right-button:hover{
	background:#ed6524;
	color: white; 
	transition: 0.5s ease-in-out;
}
.testimonial{
	width: 100%;
	margin: 30px 0;
}
.message{
	height: 140px;
    width: 100%;
    background: #f6f4fc;
    border-left: 4px solid #f5a782;
    position: relative;
}
.message p{
	font-size: 16px !important;
    line-height: 20px !important;
    padding: 40px !important;
    font-style: italic;
}
.corner-box{
	height: 30px;
    width: 30px;
    background:  #f6f4fc;
    position: absolute;
    bottom: -15px;
    left: 5%;
    transform: rotate(45deg);
}
.user{
	width: 100%;
	height: 70px;
	margin-top: 22px;
}
.user img{
	width: 72px;
}
.user-info{
	margin: 15px 10px;
}
.user-info p{
	margin: 0 !important;
	padding: 0 !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
}
.banner-right{
	margin-left: 60px;
}
.see-all{
	width: 100%;
	text-align: center;
}

.see-all a:hover{
	color: #ed6524;
}
.right-img{
	position: relative;
}
.banner .circle{
	height: 160px;
    width: 160px;
    background: green;
    border-radius: 50%;
    line-height: 160px;
    text-align: center;
    color: white;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: -64px;
}